body {
    margin : 0;
    padding: 0;
}

.codepoint-card {
    width  : 48px;
    height : 48px;
    margin : 0 0 8px 0;
    padding: 6px;
    border : 1px solid #ccc;

    display   : inline-block;
    text-align: center;

    .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style : normal;
        font-size  : 24px;    /* Preferred icon size */

        display       : inline-block;
        line-height   : 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap     : normal;
        white-space   : nowrap;
        direction     : ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;

        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
    }

    &.hide {
        display: none;
    }
}