body {
    margin : 0;
    padding: 0;
}

.grid-view, .list-view {
    float: left;
}

.grid-view {
    .codepoint-card {
        width  : 200px;
        height : 125px;
        margin : 0 0 8px 0;
        padding: 6px;
        border : 1px solid #e2e2e2;

        display       : inline-block;
        vertical-align: top;
        text-align    : center;

        position: relative;

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style : normal;
            font-size  : 48px;    /* Preferred icon size */

            display       : inline-block;
            line-height   : 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap     : normal;
            white-space   : nowrap;
            direction     : ltr;

            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;

            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;

            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;

            /* Support for IE. */
            font-feature-settings: 'liga';
        }

        &--name, &--key {
            font-family: 'Quicksand', sans-serif;
            display: block;
        }

        &--icon {
            margin: 15px 0 10px 0;
        }

        &--name {
            position: absolute;
            top     : 8px;
            left    : 12px;
        }

        &--key {
            word-wrap: break-word;
            padding: 0 5px;
        }

        &.hide {
            display: none;
        }

        &.new {
            border: 1px solid orange;
        }

        &.missing {
            border: 1px solid green;
        }

        &.unknown {
            border: 1px solid #e2e2e2;
            opacity: 0.3;
        }

        &:hover {
            transform: scale(1.025);
            transition: 0.1s;
        }
    }
}

.list-view {
    ul {
        margin : 0;
        padding: 0;

        list-style-type: none;

        li {
            margin-bottom: 8px;
        }
    }
}