<div class='grid-view'>
    {{#each model as |codepointObject|}}
        <div id={{codepointObject.codepoint}} class='codepoint-card'>
            <i class='material-icons'>{{codepointObject.key}}</i>
            <span class='codepoint-card--name'>{{codepointObject.codepoint}}</span>
        </div>
    {{/each}}
</div>